# EDA (Exploratory Data Analysis):

In [1]:
import pandas as pd
import numpy as np

In [41]:
naga = {
    "ID":["101","102","103",np.nan,"105","106","107","108","109","110"],
    "Name": ["MS Dhoni","Virat Kholi","Rohit Sharma","Smriti Mandhana","Harmanpreet Kaur","Mithali Raj","KL Rahul","Ellyse Perry","Lauren bell","Jasprit Bumrah"],
    "Teams": ["CSK","RCB","MI","RCB","MI","GG","DC","RCB","RCB","MI"],
    "Practice_Hours": ["4","8","6","100","6","4","5",np.nan,"2","2"],
    "Gender": ["M","M","M","F","F","F","M","F","F","M"],
    "Playing_Match": ["16","16","15",np.nan,"11","12","10","Fourteen","11","16"],
    "Runs":["350","780","640","450","420","380",np.nan,"Unavailable","98","104"]
}

naga

{'ID': ['101', '102', '103', nan, '105', '106', '107', '108', '109', '110'],
 'Name': ['MS Dhoni',
  'Virat Kholi',
  'Rohit Sharma',
  'Smriti Mandhana',
  'Harmanpreet Kaur',
  'Mithali Raj',
  'KL Rahul',
  'Ellyse Perry',
  'Lauren bell',
  'Jasprit Bumrah'],
 'Teams': ['CSK', 'RCB', 'MI', 'RCB', 'MI', 'GG', 'DC', 'RCB', 'RCB', 'MI'],
 'Practice_Hours': ['4', '8', '6', '100', '6', '4', '5', nan, '2', '2'],
 'Gender': ['M', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'M'],
 'Playing_Match': ['16',
  '16',
  '15',
  nan,
  '11',
  '12',
  '10',
  'Fourteen',
  '11',
  '16'],
 'Runs': ['350',
  '780',
  '640',
  '450',
  '420',
  '380',
  nan,
  'Unavailable',
  '98',
  '104']}

# **CONVERT TO DATAFRAME**

In [42]:
naga = pd.DataFrame(naga)
naga

,ID,Name,Teams,Practice_Hours,Gender,Playing_Match,Runs
0,101,MS Dhoni,CSK,4,M,16,350
1,102,Virat Kholi,RCB,8,M,16,780
2,103,Rohit Sharma,MI,6,M,15,640
3,NaN,Smriti Mandhana,RCB,100,F,NaN,450
4,105,Harmanpreet Kaur,MI,6,F,11,420
5,106,Mithali Raj,GG,4,F,12,380
6,107,KL Rahul,DC,5,M,10,NaN
7,108,Ellyse Perry,RCB,NaN,F,Fourteen,Unavailable
8,109,Lauren bell,RCB,2,F,11,98
9,110,Jasprit Bumrah,MI,2,M,16,104

# **CHANGE COLUMN TYPE**

In [43]:
naga.dtypes

ID                object
Name              object
Teams             object
Practice_Hours    object
Gender            object
Playing_Match     object
Runs              object
dtype: object

In [44]:

#  Change the Column type:

naga["ID"] = pd.to_numeric(naga["ID"])
naga["Practice_Hours"] = pd.to_numeric(naga["Practice_Hours"])
naga.dtypes

ID                float64
Name               object
Teams              object
Practice_Hours    float64
Gender             object
Playing_Match      object
Runs               object
dtype: object

# Replace text with nan:

In [45]:
naga['Playing_Match'] = naga['Playing_Match'].replace('Fourteen', np.nan)
naga["Runs"] = naga["Runs"].replace("Unavailable",np.nan)

In [46]:
naga.tail(3)

      ID            Name Teams  Practice_Hours Gender Playing_Match Runs
7  108.0    Ellyse Perry   RCB             NaN      F           NaN  NaN
8  109.0     Lauren bell   RCB             2.0      F            11   98
9  110.0  Jasprit Bumrah    MI             2.0      M            16  104

In [47]:
naga['Playing_Match'] = pd.to_numeric(naga['Playing_Match'])
naga['Runs'] = pd.to_numeric(naga['Runs'])

naga.dtypes

ID                float64
Name               object
Teams              object
Practice_Hours    float64
Gender             object
Playing_Match     float64
Runs              float64
dtype: object

#**FIND FOR MISSING VALUES**

In [48]:
naga

      ID              Name Teams  Practice_Hours Gender  Playing_Match   Runs
0  101.0          MS Dhoni   CSK             4.0      M           16.0  350.0
1  102.0       Virat Kholi   RCB             8.0      M           16.0  780.0
2  103.0      Rohit Sharma    MI             6.0      M           15.0  640.0
3    NaN   Smriti Mandhana   RCB           100.0      F            NaN  450.0
4  105.0  Harmanpreet Kaur    MI             6.0      F           11.0  420.0
5  106.0       Mithali Raj    GG             4.0      F           12.0  380.0
6  107.0          KL Rahul    DC             5.0      M           10.0    NaN
7  108.0      Ellyse Perry   RCB             NaN      F            NaN    NaN
8  109.0       Lauren bell   RCB             2.0      F           11.0   98.0
9  110.0    Jasprit Bumrah    MI             2.0      M           16.0  104.0

**CHECK FOR NAN VALUES**

In [49]:
naga.isna().sum()

ID                1
Name              0
Teams             0
Practice_Hours    1
Gender            0
Playing_Match     2
Runs              2
dtype: int64

In [50]:
naga.isnull().sum()

ID                1
Name              0
Teams             0
Practice_Hours    1
Gender            0
Playing_Match     2
Runs              2
dtype: int64

**CHECK FOR NULL [ 0 ] VALUES**

In [51]:
(naga == 0).sum()

ID                0
Name              0
Teams             0
Practice_Hours    0
Gender            0
Playing_Match     0
Runs              0
dtype: int64

In [52]:
naga.isnull().sum()

ID                1
Name              0
Teams             0
Practice_Hours    1
Gender            0
Playing_Match     2
Runs              2
dtype: int64

#**CHANGING NAN VALUES**

In [53]:

naga["ID"].fillna(104,inplace=True)
naga['Playing_Match'].fillna(10,inplace=True)
naga["Runs"].fillna(naga["Runs"].mean(),inplace=True)

/tmp/ipython-input-3145199466.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  naga["ID"].fillna(104,inplace=True)
/tmp/ipython-input-3145199466.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  naga['Playing_Match'].fillna(10,inplace=True)
/tmp/ipython-input-3145199466.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  naga["Runs"].fillna(naga["Runs"].mean(),inplace=True)

In [54]:
naga.loc[naga["Practice_Hours"]>8]

      ID             Name Teams  Practice_Hours Gender  Playing_Match   Runs
3  104.0  Smriti Mandhana   RCB           100.0      F           10.0  450.0

In [59]:
naga.loc[naga["Practice_Hours"]>8,"Practice_Hours"]=naga["Practice_Hours"].replace(100,np.nan)
naga.head(4)

      ID             Name Teams  Practice_Hours Gender  Playing_Match   Runs
0  101.0         MS Dhoni   CSK           4.000      M           16.0  350.0
1  102.0      Virat Kholi   RCB           8.000      M           16.0  780.0
2  103.0     Rohit Sharma    MI           6.000      M           15.0  640.0
3  104.0  Smriti Mandhana   RCB           4.625      F           10.0  450.0

In [56]:
naga["Practice_Hours"].fillna(naga["Practice_Hours"].mean(),inplace=True)

/tmp/ipython-input-588009414.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  naga["Practice_Hours"].fillna(naga["Practice_Hours"].mean(),inplace=True)

In [57]:
naga

      ID              Name Teams  Practice_Hours Gender  Playing_Match    Runs
0  101.0          MS Dhoni   CSK           4.000      M           16.0  350.00
1  102.0       Virat Kholi   RCB           8.000      M           16.0  780.00
2  103.0      Rohit Sharma    MI           6.000      M           15.0  640.00
3  104.0   Smriti Mandhana   RCB           4.625      F           10.0  450.00
4  105.0  Harmanpreet Kaur    MI           6.000      F           11.0  420.00
5  106.0       Mithali Raj    GG           4.000      F           12.0  380.00
6  107.0          KL Rahul    DC           5.000      M           10.0  402.75
7  108.0      Ellyse Perry   RCB           4.625      F           10.0  402.75
8  109.0       Lauren bell   RCB           2.000      F           11.0   98.00
9  110.0    Jasprit Bumrah    MI           2.000      M           16.0  104.00